@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    box-sizing: content-box;
}
body {
    margin: 0;
    font-family:'Raleway', sans-serif;
    background-color: #eee;
}

/* Sections
------------ */
main {
    /*display: flex;
    align-items: top;
    justify-content: center;
    flex-flow: row wrap;*/
    margin: 0;
    padding: 0;
}
section {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 30px;
    width: 60%;
    margin: 20px auto;
    
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.1);
}
section p {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1001px) {
    section {
        width: 80%;
    }
}
section h1 {
    margin: 10px 0;
    text-align: center;
}
section h2,
section .subtitle {
    margin: 10px 0;
    text-align: center;
    color: rgb(46, 117, 181);
    font-weight: 400;
    font-size: 110%;
}
/* Main image
----------- */
#top {
    background-image: url('../img/cover1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    filter: opacity(0.92);
    margin-top: 0;
    padding: 0;
}
#top * {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}
#top p {
    font-size: 150%;
    text-align: center;
}
#top .name {
    font-size: 500%;
    text-align: center;
}
/* Navbar
------------ */
nav {
    height: 30px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    direction: ltr !important;

    display: flex;
    align-items: center;
    justify-content: center;
}
nav * {
    direction: ltr !important;
}
nav a, nav a:visited, nav a:active {
    color: inherit;
    text-decoration: inherit;
}
nav .links,
nav .languages,
nav a,
nav span {
    height: 30px;
}
nav .links,
nav .languages {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nav a,
nav span {
    line-height: 30px;
    cursor: pointer;
}
nav a {
    margin: 0 10px;
    transition: background-color .4s, color .3s;
}
nav .links a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
nav .languages img {
    height: 30px;
}

nav .languages .selected a {
    background-color: #ddd;
}

/* Oversettelser
------------ */
body[lang=no] .no,
body[lang=en] .en,
body[lang=ar] .ar {
    display: initial;
}
body[lang=ar] * {
    direction: rtl;
}
body[lang=no] .en,
body[lang=no] .ar,
body[lang=en] .no,
body[lang=en] .ar,
body[lang=ar] .no,
body[lang=ar] .en {
    display: none !important;
}

